html{
    font-family: Bold, Regular, sans-serif;
    font-size: 62.5%;

}
.Photo_profil{
    width: 10%;
    height: 10%;
    background-color: #417694;
    border: 8px solid #417694;
    border-radius: 0px;
    position: relative;
}
.sow{
    padding: 1rem 1rem;
    width: 121px;
    height: 14px;
    color: white;
    background-color: #417694;
    border-radius: 0%;
    text-align: center;
}
.carac{
    padding: 1rem 1rem;
    width: 121px;
    height: 14px;
    color: white;
    background-color: #417694;
    border-radius: 0%;
    text-align: center;
}
.info_perso p img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 20px;
    background-color: #417694;
    color: white;
}
.info{
    
}
.Réseaux{
    padding: 1rem 1rem;
    width: 121px;
    height: 14px;
    color: white;
    background-color: #417694;
    border-radius: 0%;
    text-align: center;
}
.infor p img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 20px;
    color: white;
}
.ligne{
    padding: 0rem 1rem;
    background-color: #F5F5F5;
}
.ligne_2{
    padding: 0rem 1rem;
    background-color: #F5F5F5;
}
.premier{
    background-color: #417694;
    padding: 1rem 3rem;
    
}
.langues p img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 20px;
    color: white;
}
.section_gauche_1{
    
    background-color: #417694;
    padding: 1rem 3rem;
    width: 111px;
}
.section_gauche_2{
    background-color: #417694;
    padding: 1rem 3rem;
    width: 111px;
    
}
.Loi{
    padding: 1rem 1rem;
    width: 121px;
    height: 14px;
    color: white;
    background-color: #417694;
    border-radius: 0%;
    text-align: center;
}
.loisirs p img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
    margin-right: 20px;
    color: white;

}