/* stylisation de ma balise main en jouant sur les paramètres */
main{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root{
    --color-1-bleue:#417694;
    --color-1-blanc:#ffffff;
    --color-1-noir:#000000;
}


/* stylisation de ma balise div avec la classe cv_ensemble en jouant sur les paramètres */
.cv_ensemble{
    position: relative;
    width: 100% ;
    background:var(--color-1-blanc);
    display: grid;
    margin: 0px auto;
    grid-template-columns: 1fr 2fr;
    max-width: 1000 px ;
    max-height: 2000 px ;
    box-shadow: 0 35px 55px rgb(0, 0, 0,0.1);
}

/* stylisation de ma balise div avec la classe Section_gauche en jouant sur les paramètres */
.cv_ensemble .Section_gauche{
    position: relative;
    padding: 40px;
    background:var(--color-1-bleue);
    
}

/* stylisation des éléments de profil  en jouant sur les paramètres */
.Profil  .jouer{
    position: relative;
    width: 300px;
    height: 300px; 
    overflow: hidden;
    border-radius: 50%;

    
 } 
.Profil  .jouer img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;


}

/* stylisation des éléments paragraphe, contact  en jouant sur les paramètres */
.Contact .Info_contact{
    color:var(--color-1-blanc);
    text-align: center;
    

}


.paragraphe{
    color:var(--color-1-blanc);
} 

.Contact{
    border-bottom: 1px solid #F5F5F5
    ;
}



.Contact ul li {
    list-style: none;
}

/* stylisation des éléments logo  en jouant sur les paramètres */
.info_1{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;

}



.info_2{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}


.info_3{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;

} 


/* stylisation de ma balise div avec la classe réseaux en jouant sur les paramètres */
.Réseaux ul li {
    list-style: none;
}

.Réseaux{
    border-bottom: 1px solid #F5F5F5
    ;
}

.Réseaux .Info_réseaux{
    color:var(--color-1-blanc);
    text-align: center;
    

}


/* stylisation  de chaque élément des réseaux  en jouant sur les paramètres */

.facebook_1{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;

}



.instagram_2{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}



.linkedin_3{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;

}



/* stylisation de ma balise div avec la classe langues en jouant sur les paramètres */
.Langues ul li {
    list-style: none;
}

.Langues{
    border-bottom: 1px solid #F5F5F5
    ;
}

.Langues .Info_Langues{
    color:var(--color-1-blanc);
    text-align: center;
     

}

/* .progression{
    color: #5d4cca;
} */


/* stylisation de ma balise div avec la classe carré en jouant sur les paramètres */
.carré{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;

}


/* stylisation de la responsivité  */

@media screen and ( max-width: 688px)  {

    .cv_ensemble {
        grid-template-columns: repeat(1 , 1fr);
    }
}


/* stylisation de ma balise div avec la classe loisirs en jouant sur l'affichage des listes */
.Loisirs ul li {
    list-style: none;
}


.Loisirs .Info_loisirs{
    color:var(--color-1-blanc);
    text-align: center;
    

}


/* stylisation de ma balise div avec la classe carr en jouant sur les paramètres */
.carr{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}



/* stylisation de ma balise div avec la classe section_droite en jouant sur les paramètres */
.cv_ensemble .section_droite{
    position: relative;
    padding: 40px;
    
    
}

/* stylisation de ma balise div avec la classe pro, formation et compé en jouant sur la couleur des textes */
.exp .pro{

    color:var(--color-1-bleue);  

}

.Formation .formation{
    
    color:var(--color-1-bleue);  

}

.Compétence .compé{
    
    color:var(--color-1-bleue);  

}


/* stylisation de ma balise div avec la classe carré_noir en jouant sur les paramètres */
.carré_noir{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}

/* stylisation de ma balise div avec les classe exp,formation et compétence en jouant sur l'affichage des listes */
.exp ul li {
    list-style: none;
}

.Formation ul li {
    list-style: none;
}


.Compétence ul li {
    list-style: none;
}


/* stylisation de ma balise div avec la classe photo en jouant sur les paramètres */
.photo{
    width: 20px ;
    height: 20px;
    margin-top: 2%;
    margin-right: 2%;
}